<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
               <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="#" class="form-label"><h1>USER REGISTRATION</h1></label>
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Name</label>
                <input name="Name" [(ngModel)]="Name" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Adhar No:</label>
                <input name="Adhar" [(ngModel)]="Adhar" type="number" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Address</label>
                <textarea name=" Address" [(ngModel)]=" Address" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Pincode</label>
                <input name="pincode" [(ngModel)]="pincode" type="number" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">DOB</label>
                <input name="DOB" [(ngModel)]="DOB" type="date" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Email</label>
                <input name="Email" [(ngModel)]="Email" type="email" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Mobile Number</label>
                <input name=" mobileNumber" [(ngModel)]=" mobileNumber" type="number" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">User Name</label>
                <input name="userName" [(ngModel)]="userName" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Password</label>
                <input name=" password" [(ngModel)]=" password" type="password" class="form-control">
            </div>
            
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Confirm Password</label>
                <input name="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <button (click)=" readValues()" class="btn btn-primary">Register</button>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <a href="/userlogin" class="text-primary"><h3>Click to go to userlogin</h3></a>
                
            </div>
        

        </div>
    </div>
</div>
